# FlashUSDT local environment
# Keep private keys local. Never commit real secrets.

PRIVATE_KEY=""
INFURA_PROJECT_ID=""

ETHERSCAN_API_KEY=""
POLYGONSCAN_API_KEY=""
BSCSCAN_API_KEY=""

ETHEREUM_RPC_URL="https://eth.llamarpc.com"
SEPOLIA_RPC_URL="https://rpc.sepolia.org"
POLYGON_RPC_URL="https://polygon-rpc.com"
POLYGON_AMOY_RPC_URL="https://rpc-amoy.polygon.technology"
BSC_RPC_URL="https://bsc-dataseed.binance.org"
BSC_TESTNET_RPC_URL="https://data-seed-prebsc-1-s1.binance.org:8545"

TRON_FULL_HOST="https://api.shasta.trongrid.io"
TRON_PRO_API_KEY=""
TRON_PRIVATE_KEY=""
TRON_FEE_LIMIT="1000000000"

FLASH_USDT_ADDRESS=""
FLASH_USDT_ETHEREUM_ADDRESS=""
FLASH_USDT_POLYGON_ADDRESS=""
FLASH_USDT_BSC_ADDRESS=""
FLASH_USDT_TRON_ADDRESS=""

SEPOLIA_USDT_ADDRESS=""
SEPOLIA_ROUTER_ADDRESS=""
SEPOLIA_WETH_ADDRESS=""
POLYGON_ROUTER_ADDRESS="0xa5E0829CaCEd8fFDD4De3c43696c57F7D7A678ff"
BSC_ROUTER_ADDRESS="0x10ED43C718714eb63d5aA57B78B54704E256024E"
TRON_DEX_ROUTER_ADDRESS=""
TRON_WRAPPED_NATIVE_ADDRESS=""

FLASH_VALIDITY_MONTHS="6"
